<div class="example-container">
    <div class="form-container">
        <form [formGroup]="todoForm" (submit)="todoSubmit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="todoTitle" required>
                <!-- <mat-error *ngIf="todoForm.controls.todoTitle.touched && todoForm.controls.todoTitle.invalid"> -->
                <!-- <span *ngIf="todoForm.controls.todoTitle.errors.required">This field is mandatory.</span> -->
                <!-- </mat-error> -->
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="todoContent"></textarea>
                <!-- <mat-error *ngIf="todoForm.controls.todoContent.touched && todoForm.controls.todoContent.invalid">
                    <span *ngIf="todoForm.controls.todoContent.errors.required">This field is mandatory.</span> -->
                <!-- </mat-error> -->
            </mat-form-field>
            <div class="form-field" appearance="outline">
                <mat-checkbox formControlName="completed">Completed</mat-checkbox>
                <!-- <mat-error *ngIf="todoForm.controls.todoContent.touched && todoForm.controls.todoContent.invalid">
                    <span *ngIf="todoForm.controls.todoContent.errors.required">This field is mandatory.</span> -->
                <!-- </mat-error> -->
            </div>
            <div class="form-field" appearance="outline">
                <button mat-raised-button color="primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>